$gray222: #222;
$gray333: #333;
$gray444: #444;
$gray555: #555;
$gray999: #999;
$gray777: #777;
$gray888: #888;
$white: #fff;
$black: #000;
$orange: #ff5050;
$green: #30741a;
$darkgreen: #193e15;
$red: #f00;
