.grid-cover {
  @include on640 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include on1280 {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}
