@import "../../styles/vars/vars.scss";
@import "../../styles/mixins/mixins.scss";

.header {
  &__top {
    display: grid;
    grid-template-columns: 1fr 120px 40px;

    @include on640 {
      grid-template-columns: 1fr 280px 40px;
    }

    @include on1280 {
      grid-template-columns: 1fr 280px 75px;
    }
    border-bottom: 1px solid $gray999;
  }

  &__logo-menu-container {
    display: flex;
    column-gap: 35px;
    align-items: center;
  }

  &__menu {
    display: none;

    @include on1280 {
      display: flex;
      align-items: center;

      &--hidden {
        display: none;
      }
    }
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__menu-item {
    margin-right: 25px;

    &--flower-dropdown-item {
      position: relative;
    }

    &:last-child {
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
  }

  &__count {
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $orange;

    &--cart {
      position: relative;
      right: 17px;
      bottom: 10px;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $gray777;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
      text-shadow: 4px 8px 6px rgba(0,0,0,0.6);
      color: $gray444;
    }

    &--is-active {
      text-shadow: 4px 8px 6px rgba(0,0,0,0.6);
      color: $gray444;
    }
  }

  &__dropdown-flowers-button {
    text-decoration: none;
    color: $gray777;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: $white;
  }

  &__flowers-dropdown-content {
    display: none;

    &--active {
      display: block;
      z-index: 1;
      position: absolute;
      top: 30px;
      width: 400px;
      margin-top: 4px;
      border: 1px solid $gray777;
      background: $white;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
      padding: 12px 15px;
    }
  }

  &__dropdown-link {
    display: block;
    margin: 0 0 20px;
    text-decoration: none;
    color: $gray777;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    transition: all 0.3s;

    &:last-child {
      margin: 0;
    }

    &:hover {
      text-shadow: 4px 8px 6px rgba(0,0,0,0.6);
      color: $gray444;
    }

    &--is-active {
      text-shadow: 4px 8px 6px rgba(0,0,0,0.6);
      color: $gray444;
    }
  }

  &__searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search-container {
    display: none;

    &--active {
      padding: 0 10px;
      border-left: 1px solid $gray999;
      border-right: 1px solid $gray999;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__search-input {
    padding: 9px 0;
    width: 100%;
    border: none;
    font-size: 11px;
    font-weight: 600;

    @include on640 {
      padding: 14px 0;
    }

    @include on1280 {
      padding: 23px 0;
    }

    &:focus {
      outline: none;

      &::placeholder {
        color: transparent;
      }
    }
  }

  &__sign-search {
    border: none;
    background-color: $white;
  }

  &__sign-delete {
    border: none;
    cursor: pointer;
    background-color: $white;
  }

  &__mobile-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include on1280 {
      display: none;
    }
  }

  &__burger-menu-button {
    background-color: $white;
    border: none;
  }

  &__rightButtonsContainer {
    display: none;

    @include on1280 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__right-button {
    position: relative;
    width: 36px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--is-active {
      border-bottom: 3px solid $black;
    }
  }
}
